@model List<ResultProductModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Index</h3>
<hr />
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>CreatedDate</th>
            <th>UpdatedDate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Id</th>
                <th>@item.Name</th>
                <th>@item.Price</th>
                <th>@item.Stock</th>
                <th>@item.CreatedDate</th>
                <th>@item.UpdatedDate</th>
            </tr>

        }
      
    </tbody>
</table>